*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #07111f;
    color: white;
}

.navbar{
    position: sticky;
    top:0;
    z-index: 1000;
    padding: 15px 7%;
    background: rgba(3,7,18,0.95);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo{
   display: flex;
   align-items: center; 
   gap: 12px;
}

.logo-box{
    width: 55px;
    height: 55px;
    border-radius: 14px;
    background: #0f172a;
    border: 1px solid rgba(96,165,250,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    font-weight: bold;
    box-shadow:0 0 18px rgba(96,165,250,0.4);
}

.logo-box .v{
    color: white;
}

.loo-box .d{
    color: #60a5fa;
}

.logo h2{
    color: white;
    font-size: 8rem;
}


.logo p{
    display: flex;
    gap:20px;
    align-items: center;
}

nav{
    display:flex;
    gap:20px;
    align-items: center;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    color: #60a5fa;
}

.menu-btn{
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
}


@media(max-width: 768px) {

    .navbar{
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap:20px;

    }
    .logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .logo-box{
        display: flex;
        width: 48px;
        height: 48px;
        flex-shrink: 0;
    }

    .logo h2{
        font-size: 1rem;
    }

    .logo p{
        font-size: .75rem;
    }

    .menu-btn{
        display:block;
        margin-left: auto;
        font-size: 28px;
    }

    nav{
        display: none;
        position:absolute;
        top:80px;
        left: 0;
        right: 0;
        width: 100%;
        background: #0f172a;
        padding: 20px;
        border-radius: 0;
        flex-direction: column;
        text-align: center;
    }

    nav.active{
        display:flex;
    }

    nav a{
        width: 100%;
        padding:12px 0;
    }
}